@use 'src/styles/mixins.scss' as *;

$padding-horizontal: 0.5em;
$padding-vertical: 0.75em;
$font-size: 1em;
$transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
$transition-duration: 0.4s;

$icon-size: 1.5em;
$icon-margin: 0.5em;

$color_base: rgba(0, 0, 0, 0.87);
$color_secondary: rgba(0, 0, 0, 0.54);
$color_disabled: rgba(0, 0, 0, 0.38);

$color_primary: rgb(250, 104, 0);
$color_success: rgb(36, 179, 0);
$color_error: rgb(255, 82, 82);

.input {
  display: inline-block;
  font-size: $font-size;
  padding: $padding-vertical $padding-horizontal;
  color: $color_base;
}

.outline {
  background: transparent;
  outline: none;
  &:-moz-ui-invalid {
    box-shadow: none !important;
  }

  &-input,
  &-input-wrapper {
    position: relative;
    width: max-content;
    width: fit-content;
  }

  border: 0.0625em solid $color_secondary;
  border-radius: 0.4em;

  transition-duration: $transition-duration;
  transition-property: border-color, width;
  transition-timing-function: $transition-timing-function;

  &::placeholder {
    visibility: hidden;
  }
  &:focus {
    border-color: $color_primary;
  }
  &:focus + .label {
    color: $color_primary;
    top: 0;
    transform: translateY(-50%) scale(0.8);
  }
  &:not(:placeholder-shown) + .label {
    top: 0;
    transform: translateY(-50%) scale(0.8);
  }

  &::placeholder:empty + .label {
    top: 50%;
    transform: translateY(-50%) scale(1);
  }

  &:focus::placeholder {
    visibility: visible;
  }

  &[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;

    height: 1em;
    width: 1em;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z' fill='currentColor'/%3E%3C/svg%3E");
  }

  &:disabled {
    color: $color_disabled;
    border-color: $color_disabled;
    cursor: not-allowed;
  }

  &.success {
    color: $color_base;
    border-color: $color_base;
  }

  &:invalid {
    border-color: $color_error;
    animation: vibrate 0.2s 2;
  }
  &:invalid:not(:placeholder-shown) + .label {
    color: $color_error;
  }
}

.label {
  font-size: $font-size;
  color: $color_secondary;
  pointer-events: none;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  padding: 0 0.3em;
  margin: 0 0.5em;

  transition-duration: $transition-duration;
  transform-origin: left top;
  transition-property: top, color, font-size, padding, transform, left;
  transition-timing-function: $transition-timing-function;
}

.hints {
  max-width: max-content;
  margin-block-start: 0.25em;
  margin-inline-start: 0.75em;
  font-size: 0.75em;
  color: $color_secondary;
}

.success {
  color: $color_success;
  &:focus,
  &:focus + .label {
    color: $color_success;
    border-color: $color_success;
  }
}

.error {
  color: $color_error;
  border-color: $color_error;
  &:focus,
  & + .label {
    color: $color_error;
  }
  animation: vibrate 0.2s 2;
}

.icon {
  width: $icon-size;
  height: $icon-size;
  background-color: aqua;
  &.trailing {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: calc(#{$icon-margin});
    margin-inline-start: $icon-margin;

    & + .outline {
      padding-inline-end: calc(
        #{$icon-margin} * 2 + #{$padding-horizontal} * 2
      );
    }
  }
}

@keyframes vibrate {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
}
