'use client'
import styles from './page.module.scss';

export default function View(){
  return (
    <section className={styles["{{camelCase name}}"]}>
      {{pascalCase name}} View
    </section>
  )
}

