@use './variables.scss' as var;
@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  padding: var.$page-padding;
  margin-inline: auto;

  @media only screen and (min-width: 1100px) {
    max-width: 1100px;
  }
}

.contain {
  margin-inline: auto;

  @media only screen and (min-width: 1100px) {
    max-width: 1100px;
  }
}

.pad-gap {
  padding: var.$page-padding;
}

.loader-full {
  min-height: (100svh);
  min-height: calc(100vh - 3rem);
}

.not-found {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  margin: auto;
  justify-content: center;
  height: 80vh;
  height: 80svh;
  max-width: min(90vw, 50ch);

  .error {
    &-code {
      font-size: 2em;
    }
    &-message {
      font-size: 1.25em;
    }
  }

  .message {
    max-width: 28ch;
  }

  .redirect-link {
    background-color: var(--primary, orangered);
    color: white;
    padding: 0.75em;
    border-radius: 0.5em;
    text-align: center;
    margin-block: 0.75em;
  }

  .img {
    margin-inline: auto;
  }
}
