.scard {
  display: grid;
  grid-template-columns: 6em;
  grid-template-rows: 6em 2em;
  gap: 0.5em;

  .img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    &-container {
      border-radius: 0.5em;
      overflow: hidden;
      width: 6em;
      box-shadow:
        rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
  }
  .detail {
    .title {
      font-size: 1em;
    }
  }
}
