.page {
  margin-top: 3em;
}

.settings {
  display: grid;
  grid-template-rows: 1fr;
  gap: 0.5em;
  margin-block: 1em;
  height: 100%;
}

.loader {
  min-height: 50svh;
  height: 100%;
  margin: auto;
}
