.toast {
  background-color: white;
  border-radius: 0.5em;
  padding: 0.75em;

  position: fixed;

  top: 1em;
  right: 0.5em;
  animation: slideIn 2s cubic-bezier(0, 1.18, 0.4, 1.06) 0s 1 normal none;

  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.btn {
  display: flex;
  place-items: center;
  gap: 0.5em;

  .svg {
    width: 1em;
    height: 1em;
    transform: rotate(90deg);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(18em);
  }

  100% {
    transform: translateX(0);
  }
}
